:root {
  --PE-color: #082C4E;
  --CAP-color: #F32837;
}

html {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  /* background: linear-gradient(0deg, #0055ff 0%, rgb(0, 153, 255) 70%); */
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}
.header-main {
  display: none;
}
.header-main-mobile {
  display: flex;
}
.admin-card-width {
   width : 100%;
}
.admin-chart-width {
   width : 100%;
}
.h-05rem {
  height: 0.5rem;
}
.h-1 {
  height: 8.33%;
}
.h-2 {
  height: 16.66%;
}
.h-3 {
  height: 25%;
}
.h-4 {
  height: 33.33%;
}
.h-5 {
  height: 41.66%;
}
.h-6 {
  height: 50%;
}
.h-7 {
  height: 58.33%;
}
.h-8 {
  height: 66.66%;
}
.h-9 {
  height: 75%;
}
.h-10 {
  height: 83.33%;
}
.h-11 {
  height: 91.66%;
}
.h-12 {
  height: 100%;
}

.text-editable {
  border: 1px solid transparent; /* Borde para que el área editable sea visible */
  padding: 8px; /* Espacio interno */
  border-radius: 4px; /* Esquinas redondeadas */
  font-family: Arial, sans-serif; /* Fuente del texto */
  font-size: 16px; /* Tamaño del texto */
  color: #333; /* Color del texto */
}

.text-editable:focus {
  border-color: #007bff; /* Color de borde al enfocar */
  outline: none; /* Elimina el contorno predeterminado del navegador */
  background-color: #f9f9f9; /* Color de fondo */
}

#non-draggable-item {
  cursor: default;
}

.react-draggable-dragging {
  border: dashed  2px red;
}


/* video player */
.centering-play-icon-video-player {
  position: absolute;
  left: 50%;
  transform: translate(-42%, 0);
}

.text-transparent {
  color: transparent;
}

.h-35rem {
  height: 35rem;
}
.w-0 {
  width: 0px;
}
.p-accordion .p-accordion-content {
  padding: 0px;
}
.p-accordion-tab {
  margin-bottom: 0;
}
.p-accordion-header-link {
  border-radius: 0;
}
.min-w-12rem {
  min-width: 12rem;
}
.min-w-20rem {
  min-width: 20rem;
}
.max-h-600px {
  max-height: 600px;
}


/* fonts */
.font-big-title {
  font-family: "Poppins", sans-serif;
}
.font-title {
  font-family: "Meera Inimai", sans-serif;
}
.font-body {
  font-family: "Inter", sans-serif;
}

.underline-offset-4	{
  text-underline-offset: 4px;
}

.tracking-tighter	{
  letter-spacing: -0.05em;
}

.max-w-700px {
  max-width: 700px;
}

.main-section-calc-height {
  min-height: calc(100vh - 6rem);
}

.PE-text-color {
  color: var(--PE-color);
}
.CAP-text-color {
  color: var(--CAP-color);
}
.PE-bg-color {
  background-color: var(--PE-color);
}
.CAP-bg-color {
  background-color: var(--CAP-color);
}
.PE-border-color-color {
  border-color: var(--PE-color);
}
.CAP-border-color-color {
  border-color: var(--CAP-color);
}
/* .PE-BG-IMAGE {
  background-image: url('/public/PE-BG.png');
  background-size: 75%;
  background-position: top 150% right -250px;
  background-repeat: no-repeat;
} */

.bg-dotted-1 {
  background-image: url('../public/dot_1.png');
  background-size: .5%;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.button-unstyled {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  height: 2rem;
  width: 2rem;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: all .2s ease-out;
}

@media only screen and (min-width: 920px) {
  .admin-card-width {
    width: 49.55%;
  }
  .admin-chart-width {
    width : 49.55%;
 }
  .header-main {
    display: flex;
  }
  .header-main-mobile {
    display: none;
  }
}
@media only screen and (min-width: 1124px) {
  .admin-card-width {
    width: 24.45%;
  }
}